#cookie-msg {
  max-width: 100%;
  color: #0c3028;
  background-color: var(--background,#ffffff);
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  border-style: solid;
  border-color: var(--secondary,#000000);
}

.button_v7h {
  color: var(--background, #ffffff);
  background-color: var(--secondary, #0000ff);
}